{% extends "base.html" %}

{% block addstyle %}
<style>
    .dropdown-color{
        background-color: cornflowerblue;
        margin-bottom: 20px;
        font-size: smaller;
    }
</style>
{% endblock %}

{% block passgen %}
<div class="dropdown center">
    <button class="btn btn-secondary dropdown-toggle dropdown-color" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
      Number of Characters
    </button>
    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
      <li><a class="dropdown-item active" href="#">Action</a></li>
      
    </ul>
  </div>
  



<h2 class="center">Generated Password: {{genpass}}</h2>
{% endblock %}

